:root {
  --white: white;
  --btn-cancel: #ff0256;
  --btn-start: #00b84c;
  --btn-close: #c0c5cb;
}

.timer,
.timer-popup {
  z-index: 2;
  position: fixed;
  display: inline-block;
  margin: 1rem;
  padding: 24px 32px;
  font-family: sans-serif;
  background: var(--white);
  border-radius: 30px;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0 8px 24px,
    rgba(17, 17, 26, 0.1) 0 16px 56px,
    rgba(17, 17, 26, 0.1) 0 24px 80px;
}

.timer-part,
.timer-text {
  font-size: 36px;
  font-weight: bold;
  vertical-align: middle;
}

.timer-btn {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 16px;
  color: var(--white);
  border: none;
  border-radius: 50%;
  vertical-align: middle;
  background: var(--btn-cancel);
  cursor: pointer;
}

.timer-btn--cancel:before,
.timer-btn--cancel:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 24px;
  height: 30px;
  width: 3px;
  background-color: var(--white);
}

.timer-btn--cancel:before {
  transform: rotate(45deg);
}

.timer-btn--cancel:after {
  transform: rotate(-45deg);
}

.timer-btn--start {
  margin: 0;
  background: var(--btn-start);
}

.timer-btn--start:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 16px;
  border-top: 12px solid transparent;
  border-left: 24px solid var(--white);
  border-bottom: 12px solid transparent;
}

.timer-text {
  font-size: 24px;
}

.timer-popup {
  left: calc(50% - 320px / 2);
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.timer-input {
  width: 6ch;
  margin: 20px 0;
  height: 40px;
  text-align: center;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/5.5ch 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
  border: none;
  -moz-appearance: textfield;
}

.timer-input:focus {
  outline: none;
  color: #8208e6;
}

.timer-input::-webkit-inner-spin-button,
.timer-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  opacity: 1;
}

.timer-btn--close {
  width: 30px;
  margin-bottom: 10px;
  align-self: flex-end;
  font-size: 20px;
  color: var(--btn-close);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
