.timer__items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.timer__item {
    position: relative;
    min-width: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 15px;
    text-align: center;
}
.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 14px;
}
.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -10px;
}
