@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
.event-container {
  font-size: 14px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  height: 100vh;
  width: 100%;
  background-color: #1d212b;
  color: white;

}

.event-container {
  padding: 2rem;
  display: none;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

/* Timer Module */

.timer-text {
  align-items: center;
  margin: 0 auto;
  font-size: 5rem;
}

.image-meme {
  left: 10%;
  display: block;
}

.hidden {
  display: none;
}

.user-input{
  min-width: 400px;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color:#343434;
  width: 30%;
  height: 15vh;
  min-height:80px ;

  border-radius: 5px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.limit-message{
  display:block;
  width: 450px;
  text-align: center;
  padding: 10px;
  height: 50px;
  font-size: 2rem;
  background-color:#343434;
  margin: 0 auto;
}

.confirm {
  width: 40%;
}

.user-button{
  margin-right: 5px;
  display: flex;
  width: 20%;
  height: 10vh;
  background-color: #343434;
  border-radius: 5px;
  font-size: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 50px;
  min-width: 70px;
  cursor: pointer;
}

.confirm {
  width: 30%;
}

/* Container */

.count-numbers {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  min-width: 1440px;
  margin: 0 auto;
}

.count-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

.count-container__title,
.description__title {
  z-index: 1;
  font-size: 70px;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-bottom: 40px;
  text-shadow: 0px 0px 5px #0fffc1, 0px 0px 10px #0fffc1, 0px 0px 10px #0fffc1, 0px 0px 20px #0fffaf;
}

.description {
  display: none;
}

.description__info {
  max-width: 1200px;
  font-size: 40px;
  width: 100%;
  margin-bottom: 60px;
  line-height: 1.3;
}

.description-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

.result {
  display: none;
}

.result-container {
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 1;
}

.result-answers {
  display: flex;
  max-width: 700px;
  width: 100%;
  justify-content: space-between;
}

.game,
.game-sub,
.game-repeat,
.game-delete {
  z-index: 1;
  max-width: 300px;
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 30px;
  box-shadow: inset 15px 5px 15px rgb(0 0 0 / 50%), inset -5px -5px 15px rgb(255, 255, 255, 1);
  background: #eaeef0;
  border: 6px solid #f0f0ea;
  border-radius: 10px;
  color: black;
  font-size: 50px;
  overflow: hidden;
  font-family: "Yanone Kaffeesatz", sans-serif;
  cursor: none;
  transition: display 0.5s ease-in-out;
}

.game-shadow__one {
  width: 500px;
  height: 300px;
  position: absolute;
}

.game-shadow__one:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

.game-shadow__two {
  width: 500px;
  height: 300px;
  position: absolute;
}

.game-shadow__two:after {
  position: absolute;
  content: "";
  top: 10vw;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

.game span,
.game-sub span,
.game_repeat span,
.game_delete span {
  position: relative;
  z-index: 1;
}

.game::before,
.game-sub::before,
.game-repeat::before,
.game-delete::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 0;
  height: 0;
  background: #00ffdd;
  box-shadow: 0px 0px 5px #96fde3, 0px 0px 10px #4ae6bf, 0px 0px 10px #0fffc1, 0px 0px 20px #00ff55;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.game:hover::before,
.game-sub:hover::before,
.game-repeat:hover::before,
.game-delete:hover::before {
  width: 50px;
  height: 50px;
}

.game-shadow__three {
  width: 700px;
  height: 300px;
  position: absolute;
}

.game-shadow__three:after {
  position: absolute;
  content: "";
  top: -2vw;
  left: -10px;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

.qiestion {
  font-size: 40px;
  margin-bottom: 20px;
  z-index: 1;
}

.block {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.block-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

.block-game {
  cursor: none;
  width: 700px;
  height: 700px;
  position: relative;
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 30px;
  border-radius: 25px;
  margin-bottom: 20px;
  border: 5px solid #0fffc1;
  background-color: #151823;
  z-index: 1;
  transition: border 0.3s ease-in-out;
}

.block-game-bg {
  display: none;
  width: 700px;
  height: 700px;
  position: absolute;
}

.block-game-bg:after {
  position: absolute;
  content: "";
  top: 5vw;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}


 /* Sound Module */
.logo{
  width: 300px;
  min-height: 10px;
  margin-top: 35vh;
  border-radius: 50%;
  background: rgb(30, 11, 197);
  margin: 0 auto;
}

.sound{
  /* display: flex; */
  justify-content: center;
  width: 100%;
  background-color: #1e1e1e;
  height: 170px;
}

.audio{
  margin:0;
  font-size: 3rem;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes textColor {
  0% {
    color: #7e0fff;
  }

  50% {
    color: #0fffc1;
  }

  100% {
    color: #7e0fff;
  }
}

.block-game span {
  position: relative;
  z-index: 1;
}

.block-game::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 0;
  height: 0;
  background: #00ffdd;
  box-shadow: 0px 0px 5px #96fde3, 0px 0px 10px #4ae6bf, 0px 0px 10px #0fffc1, 0px 0px 20px #00ff55;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
  transform: translate(-50%, -50%);
}

.block-game:hover::before {
  width: 100px;
  height: 100px;
}

.clicks {
  display: none;
  max-width: 400px;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.timer-block {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.info {
  max-width: 400px;
  width: 100%;
  font-size: 40px;
}

.timer {
  font-size: 60px;
}


/* Custom Message */

.image-meme {
  position: relative;
  left: 50%;
  display: block;
}

.hidden {
  display: none;
}


.weather-block {
  display: inline-block;

  margin: 0 20px 0 0;
  font-family: "Montserrat", sans-serif;
  width: 260px;
  color: #1b1a1a;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 15px 1px rgb(220, 220, 220);
  border-radius: 15px;
  padding: 40px 40px;
  margin-bottom: 20px;

  overflow: hidden;
  max-width: 260px;
  max-height: 225px;
  padding: 40px 40px;
  margin: 10px;
  color: #1b1a1a;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 15px 1px rgb(220, 220, 220);
  font-family: 'Montserrat', sans-serif;

}

.icon_and_temp_block {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5em;
  font-weight: 100;
}

.weather_icon {
  width: 100px;
  height: 102.67px;

  font-size: 30px;
}

.weather_icon {

    width: 100px;
    height: 102.67px;

}

.custom-message-container {
  display: flex;
}


/* Shape Module */

.wrapper-svg {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
}

.exmpl-svg {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  min-width: 100%;
  min-height: 100%;
  flex-shrink: 0;
}

.active {
  display: block;
}
