@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(4, 4, 4, 0.9);

    height: 100vh;
    width: 100%;

    background: linear-gradient(45deg, rgba(62,117,220,1) 25%, rgba(204,137,154,1) 75%);
}

/* Styles Menu */
.menu {
    min-width: 180px;

    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
    background: rgb(219, 216, 216);
    visibility: hidden;

    position: fixed;
    z-index: 1000;
}

.menu.open {
    display: block;
    visibility: visible;
}

.menu .menu-item {
    font-size: 1rem;

    height: 40px;
    padding: 10px 10px;

    cursor: pointer;
    border-radius: inherit;
    border: 2px solid transparent;
    background: rgb(219, 216, 216);

    transition: background-color .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.menu .menu-item:hover {
    background-color: rgb(194, 191, 191);
    border: 2px solid rgb(122, 122, 122);
}

/* Styles Main_Conteiner */
.main_conteiner {
    display: flex;
    width: 100%;
    max-width: 1700px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px 15px;
}

.main_description {
    width: 50%;
    height: 100%;
    padding: 0 210px;
}

.main_app-modules {
    width: 50%;
    height: 200px;
}

/* Card-flip */
.card_wraper {
    width: 400px;
    height: 180px;
    margin: 50px 0;
    perspective: 500px;
}

.card {
    width: 100%;
    height: 100%;
    padding: 10px;

    cursor: pointer;
    background: #eee;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
    border-radius: 20px;

    position: relative;
    transform-style: preserve-3d;
    transition: transform .3s ease-in-out;
}

.card_front {
    display: flex;
    justify-content: space-around;

    margin: 50px 0;
    border-radius: 20px;

    backface-visibility: hidden; 
}

.card_front-title {
    font-size: 2rem;
}

.card_back {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    
    position: relative;
    top: -130px;

    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card_back-description {
    display: flex;
    justify-content: space-around;
}

.card-description {
    font-size: 0.8rem;
    width: 60%;
    padding: 0 10px;
}

.card-description--developers {
    width: 100%;
    text-align: center;
}

.card-description li {
    margin-bottom: 5px;
}

.card-description li span {
    font-size: 1rem;
    color: rgb(230, 30, 30);
}

.card-title {
    font-size: 1rem;
    width: 40%;
    padding: 0 10px;
}

.card-title-description {
    margin: 35px 0;
}

.card_wraper:hover .card {
    transform: rotateY(180deg);
}



