@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  position: relative;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

/* clicks.module.js */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.message-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  font-size: 2em;
  border: 1px solid green;
  border-radius: 6px;
  color: white;
  background-color: darkslateblue;
  opacity: 1;
}

.message-popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: 58px;
  height: 58px;
  font-size: 1em;
  border: 1px solid green;
  border-radius: 29px;
  color: white;
  background-color: darkslateblue;
  opacity: 1;
}

.hidden-block {
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
}
