@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px !important;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;

  background-blend-mode: darken;
  transition: 3s;

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main {
  background-color: #dee1e5;
}

ol,
ul {
  padding-left: 0px !important;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 310px;

  background-color: #f0e9ea;
  border-radius: 7px;
  display: none;
  list-style: none;
  border: #b9b9b8 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0s !important;
}

.menu.open {
  display: block;
}
.menu {
  padding-right: 5px;
  padding-left: 5px !important;
  padding-bottom: 5px;
  padding-top: 5px;
}

.menu .menu-item {
  padding: 4px 9px;

  color: #242323;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #689df8;
  color: #fff;
}

.modalForClick {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #666666;
  opacity: 0.5;
  z-index: 2000;
}

svg {
  margin: 10px;
  max-width: 60vh;
}
