@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu.open {
  display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
  background: #343434;
}

/* Стили для ClicksModule */
.clicksModule-timeBlock,
.clickModule-btnBlockEndGame {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.clicksModule-timeBtn,
.clickModule-btnAgain {
  padding: 10px 20px;
  font-size: 28px;
  color: #ffffff;
  background-color: #04aa6d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.clicksModule-timeBtn:hover,
.clickModule-btnAgain:hover {
  transform: scale(1.1);
}
.clicksModule-timer {
  text-align: center;
}
.clicksModule-btnForClick {
  position: relative;
  top: 50%;
  left: 50%;
  width: 10vw;
  height: 10vh;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  background-color: #04aa6d;
  border: none;
  border-radius: 1em;

  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.clicksModule-btnForClick:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translate(-49%, -49%);
}
.clickModule-score {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Стили для MessageModule */
.messageModule-blockMessage {
  background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  position: absolute;
  padding: 1em 1.5em;
  cursor: pointer;
}

/* Стили для BackgroundModule */
@keyframes block {
  0% {
    transform: rotate(45deg) translate(-10%, -10%);
  }
  50% {
    transform: rotate(140deg) translate(0%, 0%);
  }
  100% {
    transform: rotate(225deg) translate(10%, 10%);
  }
}

@keyframes blockInBlock {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  100% {
    transform: rotate(-225deg);
  }
}

.backgroundModule-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundModule-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vw;
  border-radius: 5%;
  animation: block 6s infinite linear;
}
.backgroundModule-blockInBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  border-radius: 5%;
  animation: blockInBlock 2s infinite linear;
}

.backgroundModule-btnBack {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 28px;
  color: #ffffff;
  background-color: #04aa6d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.backgroundModule-btnBack:hover {
  transform: translateX(-50%) scale(1.1);
}

.square{
	width: 150px;
	height: 150px;
}
.rectangle{
	width: 200px;
	height: 150px;
}
.circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.oval{
	width: 200px;
	height: 150px;
	border-radius: 50%;
}
.triangle-up{
	width: 0;
	height: 0;
	border-left: 100px solid #fff;
	border-right: 100px solid #fff;
	border-bottom: 200px solid transparent;
}
.triangle-down{
	width: 0;
	height: 0;
	border-left: 100px solid #fff;
	border-right: 100px solid #fff;
	border-top: 200px solid transparent;
}
.triangle-left{
	width: 0;
	height: 0;
	border-top: 100px solid #fff;
	border-bottom: 100px solid #fff;
	border-right: 200px solid transparent;
}
.triangle-right{
	width: 0;
	height: 0;
	border-top: 100px solid #fff;
	border-bottom: 100px solid #fff;
	border-left: 200px solid transparent;
}
.parallelogram{
	width: 200px;
	height: 100px;
	transform: skew(20deg);
}
.trapezoid{
	width: 200px;
	border-left: 30px solid #fff;
	border-right: 30px solid #fff;
	border-bottom: 150px solid transparent;
}
/* Стили для GameBreakoutModule */
.gameBreakoutModule-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameBreakoutModule-canvasBlock {
  width: 480px;
  height: 320px;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px rgb(97, 97, 97);
}
