@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

/*start click analytics*/

.clicksAnalytics {
  text-align: center;
}

.clicksAnalytics-div {
  padding: 10px;
  display: inline-block;
  background: #1b1a1a;
  color: #eee;
  border-radius: 5px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay--hidden {
  display: none;
}

.modal {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.modal--hidden {
  display: none;
}

.modal__contents {
  background-color: #fff;
  padding: 2rem 4rem;
  border-radius: 5px;
}

.modal__contents input[type="number"] {
  margin-top: 10px;
  width: 100%;
  padding: 0.5rem;
}

.modal__contents #submitTimeClicks {
  margin-top: 10px;
  width: 100%;
  padding: 0.5rem;
  background-color: #000000;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.modal__contents #submitTimeClicks:hover {
  background-color: #ffe600;
  color: rgb(0, 0, 0);
}

.modal__close-bar {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-right: -2rem;
  margin-top: -1rem;
}

.modal__close-bar:hover {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-right: -2rem;
  margin-top: -1rem;
  color: #ffe600;
}
/*end click analytics*/

/* timer.module */
.timer {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 300px;
    height: 300px;
    background: #000;
    color: #ffffff;
    border-radius: 50%;
    padding: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
}
.timer__display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.timer-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
}
.input__container {
    width: 100px;
}
.input__container label {
    font-size: 20px;
}
.input__container input {
    border: none;
    width: 85px;
    margin: 10px;
    font-size: 20px;
    background: #000000;
    color: #ffffff;
    text-align: center;
}
.input__container input:focus {
    border: none;
}
.input__container input::-webkit-input-placeholder {
    color: #ffffff;
}
.input__container input::-moz-placeholder {
    color: #ffffff;
}
.input__container input:-moz-placeholder {
    color: #ffffff;
}
.input__container input:-ms-input-placeholder {
    color: #ffffff;
}
.start {
    font-size: 40px;
    border-radius: 10px;
    color: #000000;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    background: #ffe003;
    padding: 10px 20px;
    margin: 10px 0;
}
.start:hover {
    background: #ffe003b5;
}
.end_time {
    font-size: 40px;
    padding: 0;
}
/* timer.module */
