@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 250px;
    background: #1b1a1a;
    border-radius: 15px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #9b9595;
}

.modalItem {
    text-align: center;
    margin: 100px;
    width: 600px;
    height: 600px;
    background: skyblue;
    border-radius: 20px;
}
.shape {
    opacity: 1;
    position: absolute;
    transition: opacity 0.5s;
}

.shape__inner {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
@keyframes showPostItem {
    0% {transform: translateX(-150%);}
    100% {transform: translateY(0);}
}

.blockItem {
    width: 300px;
    padding: 15px;
    background: rgb(211, 211, 211, 70%);
    border-radius: 10px;
    transform: translateX(-150%);
    animation: showPostItem 0.8s forwards;
    margin-bottom: 10px;

}
.container {
    max-width: 1170px;
    margin: auto;
    padding-top: 30px;
    display: flex;
}
.card {
    width: 400px;
    height: 170px;
    background: skyblue;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: auto;
}

.card h2, .card h1 {
    margin-bottom: 10px;
}
.info {
    height: 120px;
}
.description {
    height: 140px;
}
.description p {
    font-size: 15px;
}
.authors {
    height: 160px;
}

.authors li {
    font-style: italic;
    list-style-type: none;
    margin-top: 5px;
}
#titleInModal {
    height: 250px;
}
.startButton {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background: chartreuse;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px 2px red;
}