@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@import 'styles/general.css';
@import 'styles/menu.css';
@import 'styles/popup.css';
@import 'styles/timer.css';
@import 'styles/loader.css';
@import 'styles/quote.css';
